<div class="questions">
  <% form_for :question, :url => contact_path do |f| %>
    <p>伝染病にかかっていますか? 身体的または精神的障害を患っていますか?　麻薬常習者または麻薬中毒者ですか?</p>
    <div>
      はい<%= f.radio_button :a, true %>
      いいえ<%= f.radio_button :a, false %>
    </div>
    <p>これまでに不道徳な行為に関わる違法行為あるいは規制薬物に関する違反を犯し逮捕されたこと、あるいは有罪判決を受けたことがありますか? 2つ以上の罪を犯して合計5年以上の禁固判決を受けたことがありますか?　規制薬物の不正取引をしたことがありますか? 犯罪活動あるいは不道徳な行為を行なうために米国へ入国しようとしていますか?</p>
    <div>
      はい<%= f.radio_button :b, true %>
      いいえ<%= f.radio_button :b, false %>
    </div>
    <p>これまでに、あるいは現在、スパイ行為、破壊活動、テロリスト活動、もしくは集団殺戮に関係したことがありますか、あるいはしていますか?1933年から1945年の間に何らかの形でドイツ・ナチス政府やその同盟諸国に関連して迫害行為に関係していましたか?</p>
    <div>
      はい<%= f.radio_button :c, true %>
      いいえ<%= f.radio_button :c, false %>
    </div>
    <p>米国で働くつもりですか。米国から国外退去、あるいは強制送還されたり出国を命ぜられたことがありますか？不正手段または虚偽の申告によって米国ビザの取得または米国への入国を試みたことがありますか？不正手段または虚偽の申告によって米国の取得または米国への入国を試みたことがありますか? </p>
    <div>
      はい<%= f.radio_button :d, true %>
      いいえ<%= f.radio_button :d, false %>
    </div>
    <p>親権を持つ米国市民からその子供を取り上げ、拘束し、あるいはその親権を渡さなかったことがありますか?</p>
    <div>
      はい<%= f.radio_button :e, true %>
      いいえ<%= f.radio_button :e, false %>
    </div>
    <p>米国のビザまたは米国入国を拒否されたことがありますか。または、発行された米国ビザを取り消されたことがありますか?</p>
    <div>
      はい<%= f.radio_button :f, true %>
      いいえ<%= f.radio_button :f, false %>
    </div>
    <p>外交官が海外で罪を犯して治外法権を主張したことがありますか?</p>
    <div>
      はい<%= f.radio_button :g, true %>
      いいえ<%= f.radio_button :g, false %>
    </div>
    <p>
    権利の放棄: 私は、ESTAで取得した渡航認証の期間中、米国税関国境警備局審査官の入国に関する決定に対して審査または不服申立を行う、あるいは亡命の申請事由を除き、ビザ免除プログラムでの入国申請から生じる除外措置について異議を申し立てる権利を放棄する旨の説明を読み、了解しました。

    上記の権利放棄に加え、ビザ免除プログラムに基づく米国への入国の条件として、私は、米国に到着時の審査において、生体認証識別（指紋や写真など）を提出することにより、米国税関国境警備局審査官の入国に関する決定に対して審査または不服申立を行う、あるいは亡命の申請事由を除き、ビザ免除プログラムによる入国申請から生じる除外措置について異議を申し立てる権利を放棄することが再確認されるものであることに同意します。
    </p>
    <div>
      <%= check_box :test, :test %>
      証明: 私、申請者は、本申請書のすべての質問事項および記載事項を読み、または代読してもらい、本申請書のすべての質問事項および記載事項を理解したことを証明します。本申請書で記述した回答および内容は、私の知る限り、また信じる限りにおいて真実、かつ正確なものです。
    </div>
    <div>
      <%= submit_tag "戻る", :name => :to_passport %>
      <%= submit_tag "次へ", :name => :to_payment %>
    </div>
  <% end %>
</div>
